$white: #fff;
$black: #000;
$alert: #ef3535;

$blue-gray-10: #e7ecf5;
$blue-gray-20: #ced6e3;
$blue-gray-30: #a1aab9;
$blue-gray-50: #7a828f;

$gray-10: #f7f7f7;
$gray-20: #e4e4e4;
$gray-30: #bfbfbf;
$gray-40: #aaa;
$gray-50: #808080;
$gray-70: #404040;
$gray-90: #202020;
