.layout {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-gray-10;
}
.form-container {
  min-width: 400px;
  padding: 24px 16px;
  background-color: $white;
}

.form-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.form-wrapper {
  display: flex;
  margin: 16px 0 32px;
  flex-direction: column;
  gap: 18px;
}

.form-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-lbl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > strong {
    font-size: 12px;
    &:after {
      content: '*';
      color: $red;
    }
  }
}
.form-input,
.form-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
}

.form-input {
  padding: 4px;
  font-size: 12px;
  border: 1px solid $gray-30;
  color: $black;
  &::-webkit-input-placeholder {
    color: $gray-30;
  }
  &:read-only {
    cursor: pointer;
    background-color: $gray-10;
  }
}

.form-alert {
  font-size: 10px;
  color: $red;
}

.form-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.form-button {
  padding: 6px;
  text-align: center;
  font-size: 16px;
  border: 1px solid transparent;
  &.prev {
    border-color: $black;
  }
  &.next {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
  &:disabled {
    background-color: $gray-40;
    border-color: $gray-40;
  }
}

.search-address-button {
  text-decoration: underline;
}

.card-number-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: space-around;
}

.signup-wrapper {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  gap: 12px;
}

.signup-info {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
